/* Global */
body {
    margin: 0;
    background: black;
    color: #00ff9f;
    font-family: Consolas, monospace;
}

/* Background Matrix */
#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    filter: blur(1.2px);
}

/* Layout */
#app-container {
    display: flex;
    height: 100vh;
}

/* Terminal */
#terminal {
    width: 75%;
    padding: 20px;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(2px);
    overflow-y: auto;
    border-right: 2px solid #00ff9f55;
    box-shadow: inset 0 0 20px #00ff9f33;
}

/* Messages */
#messages {
    font-size: 16px;
    white-space: pre-wrap;
    color: #00ffb3;
}

/* Input */
#input-line {
    display: flex;
}

.prompt {
    margin-right: 5px;
    color: #00ffa2;
    text-shadow: 0 0 6px #00ff9f;
}

#input {
    background: transparent;
    border: none;
    outline: none;
    color: #00ff9f;
    width: 100%;
    font-size: 16px;
}

/* Sidebar */
#sidebar {
    width: 25%;
    padding: 20px;
    background: rgba(0,20,15,0.6);
    backdrop-filter: blur(2px);
    color: #00ffcc;
}

#sidebar h3 {
    border-bottom: 1px solid #00ff9f55;
}
