body {
    margin: 0;
    background: #000;
    color: #00ff9f;
    font-family: "Consolas", monospace;
}

/* MATRIX RAIN */
#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
    filter: blur(1.5px);
}

/* LAYOUT */
#app-container {
    display: flex;
    height: 100vh;
}

/* TERMINAL */
#terminal {
    width: 75%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(3px);
    box-shadow: inset 0 0 20px #00ff9f33;
    overflow-y: auto;
    border-right: 2px solid #00ff9f55;
}

#messages {
    white-space: pre-wrap;
    font-size: 16px;
    color: #00ffb3;
    text-shadow: 0 0 6px #00ff9f55;
}

/* INPUT */
#input-line {
    display: flex;
    margin-top: 10px;
}
.prompt {
    margin-right: 5px;
    color: #00ffa2;
}
#input {
    background: transparent;
    border: none;
    outline: none;
    color: #00ff9f;
    width: 100%;
    font-size: 16px;
}

/* SIDEBAR */
#sidebar {
    width: 25%;
    padding: 20px;
    background: rgba(0, 20, 15, 0.65);
    backdrop-filter: blur(3px);
    box-shadow: inset 0 0 20px #00ff9f44;
}
#sidebar h3 {
    border-bottom: 1px solid #00ff9f77;
    padding-bottom: 10px;
}
#users li {
    list-style: none;
    margin: 8px 0;
}
